
<div class="container">
 <!--  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
 -->
      <div id="form-contents" class="text-center">
        <h4><%= @query %> </h4>

        <p> - You</p>

        <h4><%= @answer %> </h4>

        <p> - Your coach</p>

      </div>
    <div id="redirect" class="text-center">
      <%= link_to "Ask another question to your coach", ask_path %>
    </div>

 <!--    </div>
  </div -->
</div>
