<div class="container">
  <h1>What would you like to ask ?</h1>
  <div class="row">
    <div class="col-xs-4 col-xs-offset-4 text-center">
      <form action="answer">
        <div class="form-group">
          <label for="question">Speak to your coach</label>
          <input class="form-control" type="text" id="question" name="query" placeholder="What time is it?">
        </div>

        <input type="submit" value="Go on!" class="btn btn-primary">
      </form>
    </div>
  </div>


</div
